{% extends "emp_base.html" %} {% block main %}

<div class="card shadow m-2">
  <div class="card-body">
    <a href = "{% url 'edit_myeducation' %}" class="btn btn-primary float-right btn-sm">Edit Education</a>
    <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange">
      My Education
    </h5>
    <div class="container-fluid">

        <table class= "table table-bordered" >
            <tr>
                <th>Post Graduation</th>
                <td>{{education.coursepg}}</td>
            </tr>

            <tr>
                <th>Post Graduation University</th>
                <td>{{education.schoolclgpg}}</td>
            </tr>
            <tr>
                <th>Year of passing Post Graduation</th>
                <td>{{education.yearofpassingpg}}</td>
            </tr>
            <tr>
                <th>Post Graduation Percentage</th>
                <td>{{education.percentagepg}}</td>
            </tr>
            <tr>
                <th>Graduation</th>
                <td>{{education.coursegra}}</td>
            </tr>

            <tr>
                <th>Graduation University</th>
                <td>{{education.schoolclggra}}</td>
            </tr>
            <tr>
                <th>Year of passing Graduation</th>
                <td>{{education.yearofpassinggra}}</td>
            </tr>
            <tr>
                <th>Graduation Percentage</th>
                <td>{{education.percentagegra}}</td>
            </tr>

            <tr>
                <th>Course in 12th</th>
                <td>{{education.coursessc}}</td>
            </tr>

            <tr>
                <th>School in 12th</th>
                <td>{{education.schoolclgssc}}</td>
            </tr>
            <tr>
                <th>Year of passing 12th</th>
                <td>{{education.yearofpassingssc}}</td>
            </tr>
            <tr>
                <th>12th Percentage</th>
                <td>{{education.percentagessc}}</td>
            </tr>

            <tr>
                <th>Course in 10th</th>
                <td>{{education.coursehsc}}</td>
            </tr>
            <tr>
                <th>School in 10th</th>
                <td>{{education.schoolclghsc}}</td>
            </tr>
            <tr>
                <th>Year of passing 10th</th>
                <td>{{education.yearofpassinghsc}}</td>
            </tr>
            <tr>
                <th>10th Percentage</th>
                <td>{{education.percentagehsc}}</td>
            </tr>


        </table>

    </div>



       {% endblock %}
